@use "../../sass/style.scss" as *;

.goBack {
  @include textBold();

  &:hover {
    color: $shipCove;
  }

  &::before {
    content: url("../../assets/icon-arrow-left.svg");
    display: inline-block;
    margin: 0 24px 0 0;
  }
}
