@use "../../../../sass/style.scss" as *;

.datePicker {
  @extend .input;
  max-width: 240px;
  position: relative;
  cursor: default;

  svg {
    display: block;
  }
}

.datePicker--open {
  border: 1px solid var(--inputFocus);
}

.datePicker__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popper {
  position: absolute;
  left: 0;
  top: calc(100% + 8px);
  min-height: 240px;
  width: 240px;
  background-color: var(--mainBackground_3);
  border-radius: 8px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  padding: 26px 24px 30px;
}

.popper__dateBoard {
  display: grid;
  grid-template-columns: repeat(7, auto);
  justify-content: space-between;
  row-gap: 16px;
}

.popper__chooseDate {
  color: var(--infoTextColor_5);

  &:hover {
    color: $cornflowerBlue;
  }

  &:disabled {
    opacity: 0.1;
    pointer-events: none;
  }
}

.popper__chooseDate--selected {
  color: $cornflowerBlue;
}

.popper__chooseDate--nextMonth {
  opacity: 0.25;
}
