@use "../../../../sass/style.scss" as *;

.invoiceWrapper {
  @include mainBlock();
  display: block;
  padding: 16px 24px 16px 32px;
  cursor: pointer;

  @include breakpoint(tablet) {
    padding: 16px 24px;
  }

  @include breakpoint(mobile) {
    position: relative;
    padding: 25px 24px 22px;
  }

  &:hover {
    outline: 1px solid $cornflowerBlue;

    .invoice__arrow {
      transform: translateX(8px);
    }
  }
}

.invoice {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include breakpoint(mobile) {
    flex-direction: column;
    gap: 10px;
  }
}

.invoice__leftContent {
  display: grid;
  grid-template-columns: minmax(0, 192px) auto;
  align-items: center;

  @include breakpoint(tablet) {
    grid-template-columns: minmax(0, 184px) auto;
  }

  @include breakpoint(mobile) {
    width: 100%;
    grid-template-columns: repeat(2, auto);
  }
}

.leftContentWrapper {
  display: flex;
  justify-content: space-between;

  @include breakpoint(mobile) {
    flex-direction: column;
    gap: 24px;
  }
}

.invoice__id {
  @include textBold();

  span {
    color: $shipCove;
  }
}

.invoice__paymentDue {
  @include text();
  color: var(--infoTextColor_2);
}

.invoice__clientName {
  @include text();
  margin: 0 0 0 59px;
  color: var(--infoTextColor_3);

  @include breakpoint(tablet) {
    margin: 0 0 0 52px;
  }

  @include breakpoint(mobile) {
    align-self: flex-start;
    margin: 0;
    text-align: end;
  }
}

.invoice__rightContent {
  display: flex;
  align-items: center;

  @include breakpoint(mobile) {
    width: 100%;
  }
}

.rightContentWrapper {
  display: flex;
  align-items: center;
  gap: 40px;
}

.invoice__total {
  @include textBold();
  line-height: 24px;
}

.invoice__arrow {
  margin: 0 0 0 20px;

  @include breakpoint(mobile) {
    display: none;
  }
}

.invoice__status {
  @include breakpoint(mobile) {
    position: absolute;
    right: 24px;
    bottom: 28px;
  }
}
