@use "../../../../sass/style.scss" as *;

.datePicker {
  @extend .input;
  position: relative;
  cursor: default;

  svg {
    display: block;
  }
}

.datePicker--open {
  border: 1px solid var(--inputFocus);
}

.datePicker__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popper {
  @include formPopper();
  width: 100%;
  padding: 26px 24px 30px;
}

.popper__changeMonth {
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:disabled {
      pointer-events: none;
      opacity: 0.4;
    }
  }
}

.popper__dateBoard {
  display: grid;
  grid-template-columns: repeat(7, auto);
  justify-content: space-between;
  row-gap: 16px;
  margin: 32px 0 0;
}

.popper__chooseDate {
  color: var(--infoTextColor_5);

  &:hover {
    color: $cornflowerBlue;
  }

  &:disabled {
    opacity: 0.1;
    pointer-events: none;
  }
}

.popper__chooseDate--selected {
  color: $cornflowerBlue;
}

.popper__chooseDate--nextMonth {
  opacity: 0.25;
}
