@use "../../../sass/style.scss" as *;

.fieldset {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 49px 0 0;
}

.dateFields {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;

  @include breakpoint(mobile) {
    grid-template-columns: 1fr;
  }
}
