$cornflowerBlue: hsl(252, 94%, 67%); // #7C5DFA
$heliotrope: hsl(252, 100%, 73%); // #9277FF
$mirage: hsl(233, 31%, 17%); // #1E2139
$ebonyClay: hsl(233, 30%, 21%); // #252945
$selago: hsl(231, 73%, 93%); // #DFE3FA
$baliHai: hsl(231, 20%, 61%); // #888EB0
$shipCove: hsl(231, 37%, 63%); // #7E88C3
$yonder: hsla(231, 23%, 61%, 1); // #858BB2
$oxfordBlue: hsl(231, 20%, 27%); // #373B53
$vulcan: hsl(228, 29%, 7%); // #0C0E16 main text color lightmode
$white: hsl(0, 0%, 100%); // #FFFFFF main text color darkmode
$burntSienna: hsl(0, 80%, 63%); // #EC5757
$monaLisa: hsl(0, 100%, 80%); // #9277FF
$whisper: hsl(240, 27%, 98%); // #F8F8FB light background
$mirage_2: hsl(233, 30%, 11%); // #141625 dark background
$paidBackground: hsla(160, 67%, 52%, 0.06); // #33D69F
$paidColor: hsla(160, 67%, 52%, 1); // #33D69F
$pendingBackground: hsla(34, 100%, 50%, 0.06); // #FF8F00
$pendingColor: hsla(34, 100%, 50%, 1); // #FF8F00
$draftBackground: hsla(231, 75%, 93%, 0.06); // #DFE3FA
$draftColor: hsla(231, 75%, 93%, 1); // #DFE3FA
