$cornflowerBlue: hsl(252, 94%, 67%);
$heliotrope: hsl(252, 100%, 73%);
$mirage: hsl(233, 31%, 17%);
$ebonyClay: hsl(233, 30%, 21%);
$selago: hsl(231, 73%, 93%);
$baliHai: hsl(231, 20%, 61%);
$shipCove: hsl(231, 37%, 63%);
$vulcan: hsl(228, 29%, 7%);
$burntSienna: hsl(0, 80%, 63%);
$monaLisa: hsl(0, 100%, 80%);
$whisper: hsl(240, 27%, 98%);
$mirage_2: hsl(233, 30%, 11%);
