@use "../globals/theme.scss" as *;
@use "../utils/breakpoints.scss" as *;
@use "../globals/colors.scss" as *;

html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: "League Spartan", sans-serif;

  &::-webkit-scrollbar {
    width: 8px;
    background-color: $mirage_2;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $mirage;
    border-radius: 4px;
  }
}

.rootContainer {
  min-height: 100vh;
  background-color: var(--mainBackground);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 700;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.mobileHidden {
  @include breakpoint(mobile) {
    display: none;
  }
}
