@use "./colors.scss" as *;

$themes: (
  mainBackground: (
    darkTheme: $mirage_2,
    lightTheme: $whisper,
  ),
  navBackground: (
    darkTheme: $mirage,
    lightTheme: $oxfordBlue,
  ),
  mainTextColor: (
    darkTheme: $white,
    lightTheme: $vulcan,
  ),
  infoTextColor_1: (
    darkTheme: $selago,
    lightTheme: $baliHai,
  ),
);

@mixin styles($mode) {
  @each $key, $map in $themes {
    @each $prop, $color in $map {
      @if $prop == $mode {
        --#{$key}: #{$color};
      }
    }
  }
}

.darkMode {
  @include styles("darkTheme");
}

.lightMode {
  @include styles("lightTheme");
}
