@use "./colors.scss" as *;

$themes: (
  mainBackground: (
    darkTheme: $mirage_2,
    lightTheme: $whisper,
  ),
  mainBackground_2: (
    darkTheme: $mirage,
    lightTheme: $white,
  ),
  navBackground: (
    darkTheme: $mirage,
    lightTheme: $oxfordBlue,
  ),
  formBackground: (
    darkTheme: $mirage_2,
    lightTheme: $white,
  ),
  formShadowColor: (
    darkTheme: rgba(0, 0, 0, 0.25),
    lightTheme: rgba(72, 84, 159, 0.25),
  ),
  checkboxBackground: (
    darkTheme: $mirage,
    lightTheme: $selago,
  ),
  editBackground: (
    darkTheme: $ebonyClay,
    lightTheme: $selago_2,
  ),
  editBackgroundHover: (
    darkTheme: $white,
    lightTheme: $selago,
  ),
  mainTextColor: (
    darkTheme: $white,
    lightTheme: $vulcan,
  ),
  infoTextColor_1: (
    darkTheme: $selago,
    lightTheme: $baliHai,
  ),
  infoTextColor_2: (
    darkTheme: $selago,
    lightTheme: $shipCove,
  ),
  infoTextColor_3: (
    darkTheme: $white,
    lightTheme: $yonder,
  ),
  infoTextColor_4: (
    darkTheme: $selago,
    lightTheme: $yonder,
  ),
);

@mixin styles($mode) {
  @each $key, $map in $themes {
    @each $prop, $color in $map {
      @if $prop == $mode {
        --#{$key}: #{$color};
      }
    }
  }
}

.dark {
  @include styles("darkTheme");
}

.light {
  @include styles("lightTheme");
}
