@use "../../../../../sass/style.scss" as *;

.button {
  @include baseButton;
  display: flex;
  align-items: center;
  gap: 16px;
  color: $white;
  padding: 8px 18px 8px 8px;
  background-color: $cornflowerBlue;

  &:hover {
    background-color: $heliotrope;
  }

  @include breakpoint(mobile) {
    gap: 8px;
    padding: 6px 18px 6px 6px;
  }
}

.button__plus {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: $white;

  svg {
    padding-left: 1px;
  }
}
