@use "../../../../sass/style.scss" as *;

.header__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--mainTextColor);
  font-size: 36px;
  line-height: 33.12px;
  letter-spacing: -1.13px;
  margin-bottom: 6px;

  @include breakpoint(mobile) {
    font-size: 24px;
    line-height: 22px;
    letter-spacing: -0.75px;
    margin-bottom: 3px;
  }
}

.header__info {
  @include text();
  color: var(--infoTextColor_1);
  line-height: 15px;

  span {
    @include breakpoint(mobile) {
      display: none;
    }
  }
}
