@use "../../sass/style.scss" as *;

.main {
  padding: 78px 0;

  @include breakpoint(tablet) {
    padding: 60px 0;
  }

  @include breakpoint(mobile) {
    padding: 32px 24px;
  }
}

.invoicesList {
  margin: 64px 0 0;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include breakpoint(tablet) {
    margin: 55px 0 0;
  }

  @include breakpoint(mobile) {
    margin: 32px 0 0;
  }
}
