@use "../../../../../sass/style.scss" as *;

.invoiceWrapper {
  display: block;
  background-color: var(--mainBackground_2);
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.1);
  padding: 16px 32px;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    outline: 1px solid $cornflowerBlue;

    .invoice__arrow {
      transform: translateX(8px);
    }
  }
}

.invoice {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.invoice__leftContent {
  display: grid;
  grid-template-columns: minmax(0, 192px) auto;
  align-items: center;
}

.leftContentWrapper {
  display: flex;
  justify-content: space-between;
}

.invoice__id {
  @include textBold();

  span {
    color: $shipCove;
  }
}

.invoice__paymentDue {
  @include text();
  margin: 0 0 0 44px;
  color: var(--infoTextColor_2);
}

.invoice__clientName {
  @include text();
  margin: 0 0 0 59px;
  color: var(--infoTextColor_3);
}

.invoice__rightContent {
  display: flex;
  align-items: center;
}

.rightContentWrapper {
  display: flex;
  align-items: center;
  gap: 40px;
}

.invoice__total {
  @include textBold();
}

.invoice__status {
  width: 104px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background-color: $shamrockLight;

  p {
    @include textBold();
    text-transform: capitalize;
    color: $shamrockFull;
    display: flex;
    align-items: center;
    gap: 8px;

    &::before {
      content: "";
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $shamrockFull;
    }
  }
}

.invoice__arrow {
  margin: 0 0 0 20px;
}
