@use "../../sass/style.scss" as *;

.menu {
  position: fixed;
  left: -100%;
  top: 0;
  bottom: 0;
  z-index: 99;
  max-width: 720px;
  width: 100%;
  padding: 0 0 0 103px;
  background-color: var(--formBackground);
  border-radius: 0px 20px 20px 0px;
  transition: left 450ms ease-in-out;

  @include breakpoint(tablet) {
    top: 80px;
    padding: 0;
  }

  @include breakpoint(mobile) {
    top: 72px;
    max-width: 100%;
    border-radius: 0px;
    padding: 32px 0 0;
  }
}

.menu--open {
  left: 0;
}

.backdrop {
  position: fixed;
  inset: 0;
  z-index: 9;
  background: #000000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 450ms ease-in-out, visibility 450ms ease-in-out;
}

.backdrop--open {
  visibility: visible;
  opacity: 0.5;
}

.goBackWrapper {
  display: none;

  @include breakpoint(mobile) {
    display: block;
    padding: 0 24px;
  }
}

.wrapper {
  height: 100%;
  padding: 60px 0 194px;

  @include breakpoint(mobile) {
    padding: 26px 0 155px;
  }

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--inputBorder);
    border-radius: 4px;
  }
}

.form__heading {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.5px;
  color: var(--mainTextColor);
  padding: 0 56px;

  @include breakpoint(mobile) {
    padding: 0 24px;
  }
}

.form {
  height: 100%;
  padding: 46px 0 0;

  @include breakpoint(mobile) {
    padding: 22px 0 0;
  }
}

.form__fieldsets {
  height: 100%;
  overflow-y: scroll;
  padding: 0 56px;

  @include breakpoint(mobile) {
    padding: 0 24px;
  }

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--inputBorder);
    border-radius: 4px;
  }
}

.buttonsWrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 110px;
  border-radius: 0px 20px 20px 0px;
  background-color: var(--formBackground_2);
  padding: 0 56px 0 160px;
  display: flex;
  align-items: center;

  @include breakpoint(tablet) {
    padding: 0 56px;
  }

  @include breakpoint(mobile) {
    border-radius: 0px;
    padding: 0 24px;
    height: 91px;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 7px;
  width: 100%;
}

.rightButtons {
  display: flex;
  gap: 7px;
}

.button {
  @include baseButton();

  @include breakpoint(mobile) {
    padding-inline: 14px;
  }

  &:hover {
    opacity: 0.8;
  }
}

.button--discard {
  background-color: $selago_2;
  color: $shipCove;
}

.button--saveDraft {
  background-color: $oxfordBlue;
  color: var(--infoTextColor_1);
}

.button--saveSend {
  background-color: $cornflowerBlue;
  color: $white;
}
