@use "../../../../sass/style.scss" as *;

.termPicker {
  @extend .input;
  position: relative;
  cursor: default;
}

.termPicker--open {
  border: 1px solid var(--inputFocus);
}

.termPicker__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.termPicker__arrow--open {
  transform: rotate(180deg);
}

.popper {
  @include formPopper();
  width: 100%;
}

.popper__button {
  &:not(:last-child) button {
    border-bottom: 1px solid var(--checkboxBackground);
  }

  button {
    text-align: start;
    width: 100%;
    padding: 16px 24px;
    color: var(--infoTextColor_5);

    &:hover {
      color: $heliotrope;
    }
  }
}
