@use "../globals/colors.scss" as *;

.legend {
  display: block;
  color: $cornflowerBlue;
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
  margin: 0 0 24px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.label {
  color: var(--infoTextColor_2);
  display: block;
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: -0.1px;
}

.input {
  color: var(--mainTextColor);
  background-color: var(--mainBackground_2);
  border: 1px solid var(--inputBorder);
  width: 100%;
  border-radius: 4px;
  padding: 18px 20px 15px;
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;

  &:focus-visible {
    outline: none;
    border: 1px solid var(--inputFocus);
  }
}

.MuiPickersLayout-root {
  background: #252945;
}
