@use "../../../../../sass/style.scss" as *;

.dropdown {
  position: relative;
}

.dropdown__button {
  @include textBold();
  display: flex;
  align-items: center;
  gap: 14px;
}

.dropdown__icon {
  transition: 280ms all 40ms ease-out;
}

.dropdown__icon--open {
  transform: rotateX(180deg);
}

.dropdown__menu {
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  opacity: 0;
  width: 192px;
  padding-top: 22px;
  visibility: hidden;
  transform-origin: top center;
  transition: 280ms all 40ms ease-out;
  transform: rotateX(-90deg) translateX(-50%);
}

.dropdown__menu--open {
  opacity: 1;
  visibility: visible;
  transform: rotateX(0) translateX(-50%);
}

.dropdown__list {
  padding: 24px;
  @include formField();
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.dropdown__inputGroup {
  @include textBold();
  display: flex;
  align-items: center;
  gap: 13px;

  input {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid $cornflowerBlue;
    border-radius: 2px;
    background-color: var(--checkboxBackground);
    cursor: pointer;

    &:checked {
      background: $cornflowerBlue url("../../../../../assets/icon-check.svg")
        no-repeat center;
    }
  }

  label {
    cursor: pointer;
    display: block;
  }
}
