@use "../../../../../sass/style.scss" as *;

.dropdown {
  position: relative;
}

.dropdown__button {
  @include textBold();
  display: flex;
  align-items: center;
  gap: 14px;
}

.dropdown__icon {
  transition: 280ms all 40ms ease-out;
}

.dropdown__icon--open {
  transform: rotateX(180deg);
}

.dropdown__menu {
  position: absolute;
  z-index: 9;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 192px;
  padding-top: 22px;
}

.dropdown__list {
  background-color: var(--mainBackground_3);
  box-shadow: 0px 10px 20px var(--formShadowColor);
  border-radius: 8px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.dropdown__inputGroup {
  @include textBold();
  display: flex;
  align-items: center;
  gap: 13px;

  input {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid $cornflowerBlue;
    border-radius: 2px;
    background-color: var(--checkboxBackground);
    cursor: pointer;

    &:checked {
      background: $cornflowerBlue url("../../../../../assets/icon-check.svg")
        no-repeat center;
    }
  }

  label {
    cursor: pointer;
    display: block;
  }
}
